
.navbar
{
    border-radius:00px!important;
    margin:00px 00px 00px 00px;
    padding:00px 00px 00px 00px;
    height:60px;
    background: #2c3e50;
    
}
.navbar-inverse
{
    color:#fff;
}

.pt3
{
    padding-top:30px;
    padding-bottom:10px;

}
.pt5
{
    padding-top:120px;
    padding-bottom:30px;

}
.pt2
{
    padding-top:20px;
    padding-bottom:10px;
}
.pt1
{
    padding-top:10px;
    padding-bottom:10px;
}
.main-header
{
    width:100%;
    height:498px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.health
{
    background: #808080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width:100%;
}

.health1
{
    background: #73C8A9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    width:100%;
}
.right-health
{
    padding-top:30px;
    padding-bottom:30px;
    background-color:rgba(255,255,255,0.3);
}
#white1
{
    background-color:rgba(255,255,255,0.6);
    width:100%;
    display:block;
    padding-top:20px;
    border-radius:04px;
}
.btn
{
    width:200px;
    height:50px;
    font-size:25px;
    border-radius:04px;
    
}
.banner
{
    background-color:rgba(0,0,0,0.05);
}
.card
{
    background-color:#fff;
    border-radius:04px;
    padding-top:10px;
    padding-bottom:10px;
}

.header 
{
    width:100%;
    height:200px;
    padding-top:60px;
    padding-bottom:30px;
    padding-left:100px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
}
.form-style
{
    height:40px;
    width:100%;
    margin-top:05px;
    margin-bottom:05px;
}

.nav-tabs li
{
    float:none;
    border:none;
    padding-top:05px;
    padding-bottom:05px;
    font-size:20px;
    
}

.side-header
{
    height:600px!important;
    background-color:rgba(0,0,0,0.05);
}
@media screen and (max-width: 678px) {
    .nav-tabs li
    {
        float:left;
    }
}
.bullets
{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
    height:60px;
    width:100%;
    color:#fff;

}

