RewriteEngine On

RewriteRule ^type?$ type.php



categories

1. board : cbse , icsce , bihar , westbengal

2. type : coed , girls , boys

3. medium : english , hindi 

4. location :

5. ownership : public , private , trust , goverment , semi goverment
